* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --appBlue: #5193b3;
  --appGreen: #62c4c3;
  --appOrange: #f8d49b;
  --appCream: #f8e6cb;

  margin: 0;
  padding: 0;


  line-height:2;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--appBlue);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  

  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



#header {
  background-color: var(--appGreen);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

#header > div , span {
  padding: 1em;
}

#header > h1 {
  font-size: 4em;
  padding: .5em;
}

#footer {
  color: black;
  background-color: var(--appCream);
  width: 100vw;
  min-height: 4em;
  display: flex;
  place-content: center;
}

#footer > * {
  padding: 1em;
}

